/*styles go here*/

@font-face{
	src:url(./fonts/AvenirNextCyr-Regular.woff);
	font-family: AvenirNext;
	font-weight: 300;
}

@font-face{
	src:url(./fonts/OpenSans-Regular.ttf);
	font-family: OpenSans;
	font-weight: 300;
}

@font-face{
	src:url(./fonts/OpenSans-Light.ttf);
	font-family: OpenSans;
	font-weight: 100;
}

@font-face{
	src:url(./fonts/ProximaNova-Reg.otf);
	font-family: ProximaNova;
	font-weight: 300;
}

@font-face{
	src:url(./fonts/ProximaNova-Semibold.woff);
	font-family: ProximaNova;
	font-weight: 500;
}

@font-face{
	src:url(./fonts/Montserrat-Regular.ttf);
	font-family: Montserrat;
	font-weight: 300;
}

@keyframes linkAnimation{
	0%{
		color: white;
	}
	100%{
		color: red;
	}

}

.class-header{
	background-image: url(./images/background.jpg);
	height:890px;
	background-repeat: no-repeat;
	background-size: cover;
}

.class-body{
	margin: 0px;
}

.my-class-parent{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.menu-link{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	list-style: none;
	margin: 0px;
	font-family: OpenSans;
	font-weight: 300;
}

.my-class-logo{
	height: 40px;
}

.my-class-menu{
	display:flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.heading-one{
	text-transform: uppercase;
	padding-top:600px;
	padding-left: 40px;
	font-size: 40px;
    color: #ffffff;
    margin:0px;
    font-family: AvenirNext;
    font-weight: 300;
}

.heading-two{
	text-transform: uppercase;
    margin: 0px;
    font-size: 15px;
    color: #ffffff;
    font-family: OpenSans;
	font-weight: 300;
    position: relative;
    left: 250px
}

.class-main{
	background-color: #a2ca28;

}

.class-main-list{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 900px;
	list-style: none;
	padding-top: 40px;
	padding-left: 0px;
	color: #ffffff;
	min-width: 1190px;
	max-width: 1300px;
}


.link-class{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-family: ProximaNova;
	font-weight: 300;
}

.link-class:hover{
	animation: linkAnimation 1s 1;
}

.fitness-first{
	height: 394px;
	text-align: center;
	padding: 40px 30px;
	}


.main-block{
	display: flex;
	height: 394px;
	background-color: #fff;
}

.main-main{
	width: 900px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 1190px;
	max-width: 1300px;
}

.its-all-about{
	font-size: 14px;
	text-transform: uppercase;
	color: #fd634e;
	padding-top: 20px;
	margin: 0px;
	font-family: Montserrat;
	font-weight: 300;
}

.your-body{
	font-size: 35px;
	text-transform: uppercase;
	color: #a2ca28;
	margin: 0px;
	font-family: OpenSans;
	font-weight: 100;
}

.link-read-more{
	color: #a2ca28;
	font-family: OpenSans;
	font-weight: 300;
	font-size: 14px;
}

.lorem-ipsum{
	color: #656e74;
	font-family: OpenSans;
	font-weight: 300;
	font-size: 14px;
	padding-left: 5px;
    padding-right: 5px;
}

.resources{
	font-family: OpenSans;
	font-weight: 300
}

.text{
	font-family: ProximaNova;
	font-weight: 300;
}

.menu-point{
	padding: 0px 10px;
}

.my-class-image{
	position: relative;
}

.my-class-image::before{
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 394px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.my-image-hover{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: all 0.5s;
}

.my-class-image:hover .my-image-hover{
	opacity: 1;
}

.my-class-image:hover::before{
	opacity: 1;
}

.my-class-footer{
	background-color: #0d1119;
}

.my-parent-footer{
	display: flex;
	justify-content: space-between;
	width: 900px;
	margin: auto;
}

.my-class-form{
	padding-top: 23px;
}

.my-input{
	padding:10px;
	border-radius: 2px;
	border: none;
	font-family: ProximaNova;
	font-weight: 300;
	font-size: 14px;
}

.my-button{
	background: #a2ca28;
	color: #ffffff;
	font-size: 15px;
	padding: 9px 40px;
	border-radius: 4px;
	border: none;
	font-family: ProximaNova;
	font-weight: 500;
	position:relative;
}

.my-button:after{
	content: '';
	display: block;
	background-image: url(./images/arrow.svg);
	background-repeat: no-repeat;
	width: 16px;
	height: 18px;
	position: absolute;
	right: 15px;
	top:13px;
}

.my-class-social{
	display: flex;
	list-style: none;
}

.social{
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-left: 20px;
	position: relative;
}

.social_fb{
	background-color: #2e3192;
}

.social_fb:before{
	content: '';
	background-image: url("./images/fb.svg");
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.social_tw{
	background-color: #00aeef;
}

.social_tw:before{
	content: '';
	background-image: url("./images/tw.svg");
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.social_yt{
	background-color: #ed3123;
}

.social_yt:before{
	content: '';
	background-image: url("./images/yt.svg");
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
}


.social_in{
	background-color: #171a8f;
}

.social_in:before{
	content: '';
	background-image: url("./images/ln.svg");
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
}
